extends layout

block content
	#header
		h1= title
	.infoWrapper
		#info
			ul
				each link in links
					li
						a(href=link.link)
							img(src=link.image width=32 height=32)
							p= link.title

	.content
		include:markdown-it markdown/summary.md

		h2 Work Experience
		each job, index in experience
			.experienceContainer(class=(index % 2 == 0 ? "leftContainer" : "rightContainer"))
				h4!= job.position + ", <i>" + job.company + "</i>"
				p.dates= job.dates
				p= job.description

		h2 Education
		each edu, index in education
			.experienceContainer(class=(index % 2 == 0 ? "leftContainer" : "rightContainer"))
				h4!= edu.degree + ", <i>" + edu.school + "</i>"
				p.dates= edu.dates
				p= edu.description

		h2 Skills and Achievements
		include:markdown-it markdown/skills-achievements.md

		h3 Programming
		.programmingExperienceContainer
			each exp in programming
				.programmingExperience
					.barContainer
						.bar(style={'width': exp.barValue})
							p= exp.language
					.experienceTag
						p!= exp.description
		br
		p Comfortable with both Windows and UNIX workspaces and terminals, but prefer to develop with a bash terminal.

		h3 Software
		.softwareExperienceContainer
			table.softwareExperience(border=0 cellpadding=5 cellspacing=5)
				tr
					td
						b Skill Level
					td
					td
						b Software
				each level in software
					tr
						td= level.level
						td
							.seperator
						each program in level.software
							td
								img(src=program.image title=program.name)


		h2 Extracurricular Activities
		each activity, index in activities
			.experienceContainer(class=(index%2 == 0 ? "leftContainer" : "rightContainer"))
				h4= activity.title
				p= activity.description
				//- if activity.image
				//- 	img(src=activity.image)

		h4 References available upon request
