extends layout

block content
	#header
		h1= title
	.infoWrapper
		#info.relative
			ul
				each link in links
					li
						a(href=link.link)
							object(type='image/svg+xml' data='images/links/' + link.title + '.svg')
							p= link.title
			form(method='get' action='files/Blake-Mealey-Resume.pdf')
				button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(type='submit')
					i.material-icons file_download

	.content
		h2 Work Experience
		each job, index in experience
			.experienceContainer(class=(index % 2 == 0 ? "leftContainer" : "rightContainer"))
				h4!= job.position + ", <i>" + job.company + "</i>"
				p.dates= job.dates
				ul
					each bullet in job.descriptionBullets
						li= bullet

		h2 Education
		each edu, index in education
			.experienceContainer(class=(index % 2 == 0 ? "leftContainer" : "rightContainer"))
				h4!= edu.degree + ", <i>" + edu.school + "</i>"
				p.dates= edu.dates
				ul
					each bullet in edu.descriptionBullets
						li= bullet

		h2 Technical Experience

		h3 Projects
		each project, index in projects
			a(href=project.url)
				.experienceContainer(class=(index % 2 == 0 ? "leftContainer" : "rightContainer"))
					h4= project.name
					p= project.description
					if project.image
						.imgHolder
							img(src=project.image)

		h3 Programming
		.programmingExperienceContainer
			each exp in programming
				.programmingExperience
					.barContainer
						.bar(style={'width': exp.barValue})
							p= exp.language
					.experienceTag
						p!= exp.description
				

		h3 Software
		.softwareExperienceContainer
			table.softwareExperience(border=0 cellpadding=5 cellspacing=5)
				tr
					td
						b Skill Level
					td
					td
						b Software
				each level in software
					tr
						td= level.level
						td.seperatorParent
							.seperator
						each program in level.software
							td.imgContainer
								img(title=program src='images/software/' + program.replace(/\s/g, '-') + '.png')

		h3 Miscellaneous
		ul
			each item in miscellaneous
				li= item

		h2 Achievements

		h3 Competitions
		.competitionsContainer
			table.competitions(border=0 cellpadding=5 cellspacing=5)
				tr
					td
						b Place
					td
						b Competition
					td
						b Team Size
				each competition in achievements.competitions
					tr
						td.place
							.num= competition.place.num
							.postfix= competition.place.postfix
						td= competition.name
						td.teamSize
							- var i = 0;
							while i++ < competition.teamSize
								i.material-icons person

		h3 Academic
		ul
			each item in achievements.academic
				li= item

		h2 Relevant Courses
		each course, index in courses
			.experienceContainer(class=(index % 2 == 0 ? "leftContainer" : "rightContainer"))
				h4!= course.number + " - " + course.name
				p.dates= course.date + " Semester, University of Calgary"
				ul
					each point in course.points
						li= point

		h2 Extracurricular Activities
		each activity, index in activities
			.experienceContainer(class=(index%2 == 0 ? "leftContainer" : "rightContainer"))
				h4= activity.title
				p= activity.description
				if activity.image
					.imgHolder
						img(src=activity.image)

		h2 References
		p Available upon request
